<%= form_for(@user, :html => {:class => "form-signin", :style => "float: left;"}) do |user| %>
	<h2 class="form-signin-heading">Please log in</h2>
	<%= user.text_field :username, :class => "input-block-level", :placeholder => "Username" %>
	<% if !@user.errors.messages[:username].empty? %>
		<div class="alert alert-error">
			<button class="close" data-dismiss="alert" type="button">×</button>
			<ul>
			<% @user.errors.messages[:username].each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
	    </div>
	<% end %>

	<%= user.password_field :password, :class => "input-block-level", :placeholder => "Password" %>
	<% if !@user.errors.messages[:password].empty? %>
		<div class="alert alert-error">
			<button class="close" data-dismiss="alert" type="button">×</button>
			<ul>
			<% @user.errors.messages[:password].each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
	    </div>
	<% end %>
	
	<%= user.submit :class => "btn btn-large btn-primary", :value => "Log in" %>
<% end %>