<% @page_title = "UserAuth | Signup" %>
<div class= "Sign_Form">
	<h1>Sign Up</h1>

		<%= form_for(@user) do |user| %>

		<p> Username:</br> <%= user.text_field :username%> </p>

		<p> Email:</br> <%= user.text_field :email%> </p>

		<p> Password:</br> <%= user.password_field :password%></p>

		<p> Password Confirmation:</br> <%= user.password_field :password_confirmation%> </p>

		<%= user.submit :Signup %>
	<% end %>

	<% if @user.errors.any? %>
		<ul class="Signup_Errors">
			<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>