<% content_for(:title, "UserAuth | Sign up") %>
<div class="container">
	<%= form_for(@user, :html => {:class => "form-signin"}) do |user| %>
		<h2 class="form-signin-heading">Please sign up</h2>
		<%= user.text_field :username, :class => "input-block-level", :placeholder => "Username" %>
		<%= user.text_field :email, :class => "input-block-level", :placeholder => "Email address" %>
		<%= user.password_field :password, :class => "input-block-level", :placeholder => "Password" %>
		<%= user.password_field :password_confirmation, :class => "input-block-level", :placeholder => "Password confirmation" %>
		
		<%= user.submit :class => "btn btn-large btn-primary", :value => "Sign up" %>
	<% end %>

	<% if @user.errors.any? %>
		<ul class="signup_errors">
			<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>		
</div>